.MyPage {
    text-align: center;
    padding: 20px;
  }
  
  .MyPage p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .MyPage button {
    background-color: #FF6686;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .MyPage button:hover {
    background-color: #FF4060;
  }